*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ventanaInfo{
    margin:auto;    
    max-width: 900px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;

}
.textoEImg{
    display: flex;
    padding: 15px;
    width:95%;
    height: 95%;
    background-color: black;
}
.cajaImg{
    margin-left: 25px;
    background-color: red;
    width: 30%;
    height: 100%;
    background-image: url("https://img.freepik.com/foto-gratis/disparo-vertical-puente-madera-medio-bosque_181624-39776.jpg?size=626&ext=jpg&ga=GA1.1.1803636316.1707868800&semt=ais");
}
.cajaInfo{
    margin-left: 25px;
    background-color: brown;
    width: 60%;
    height: 100%;
    text-align: center;
}

.nombreAmiibo{
    align-items: center;
    
}
.cajaSerie{
    width: fit-content;
    border: 2px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
}
.cajaFecha{
    width: fit-content;
    margin-top: 30px;
    margin-bottom: 30px;
}
.cajaUso{
    width: fit-content;
    margin-top: 30px;
    margin-bottom: 30px;
}
.cajaJuego{
    width: fit-content;
    margin-top: 30px;
    margin-bottom: 30px;
}
.cajaTipo{
    width: fit-content;
    margin-top: 30px;
    margin-bottom: 30px;
}
.cajaBtn{
    position: relative;
    top: 0;
    right: 0;
    background-color: yellow;
    width: 30px;
    height: 30px;
}
