* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: url(https://cdn.custom-cursor.com/db/cursor/32/super_smash_bros_master_hand_cursor.png), default !important;
}

header {
    height: fit-content;
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/fondo_amiibo.jpg);
}

.logoContainer {
    backdrop-filter: blur(10);
}

.cajaLogo {
    margin: 20px;
    width: fit-content;
    height: fit-content;
}

.imagenLogo {
    width: 45%;
    transition: ease 0.8s;
    cursor: url(https://cdn.custom-cursor.com/db/pointer/32/super_smash_bros_master_hand_pointer.png), pointer !important;
}

/* Estilos para iPad */
@media screen and (max-width: 1024px) {
    .imagenLogo {
        width: 80%;
    }
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 480px) {
    .imagenLogo {
        width: 100%;
    }
}

.imagenLogo:hover {
    transform: scale(1.2);
}

.contenedorBuscador {
    padding: 20px;
}

.buscador {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

@media screen and (min-width: 768px) {
    .contenedorBuscador {
        flex-direction: row;
        justify-content: center;
    }

    .buscador {
        justify-content: center;
        text-align: center;
    }

    .cajaBoton {
        margin-top: 0;
        /* Reiniciar el margen superior en pantallas más grandes */
        margin-left: 10px;
        /* Agregar margen izquierdo para separar la caja del botón de la barra de búsqueda */
    }
}

@media screen and (max-width: 767px) {
    .contenedorBuscador {
        flex-direction: column;
        /* Cambiar a columnar en pantallas más pequeñas */
    }

    .buscador {
        margin: 0 10px;
        justify-content: center;
        text-align: center;
        gap: 20px;
    }

    .buscador,
    .cajaBoton {
        margin: 0 10px;
        justify-content: center;
        text-align: center;
        gap: 20px;
    }
}

.btnBuscar {
    width: 120px;
    height: 45px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    cursor: url(https://cdn.custom-cursor.com/db/pointer/32/super_smash_bros_master_hand_pointer.png), pointer !important;
}

.buscadorInput {
    background: #b8e8e6;
    border-radius: 30px;
    color: #1573aa;
    font-size: 1.2rem;
    padding: 20px 10px 20px 20px;
    font-weight: 100;
}

.buscadorInput::placeholder {
    color: #1573aa;
    font-size: 1.3rem;

}

@media screen and (max-width: 480px) {
    .buscadorInput::placeholder {
        font-size: 1rem;
    }

}

@media screen and (max-width: 480px) {
    .buscadorInput {
        padding: 10px 10px 10px 10px;
        font-size: 0.8rem;
    }

    .btnBuscar {
        width: 70px;
        height: 35px;
        font-size: 12px;
    }

}

.btnBuscar:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btnBuscar:focus {
    outline: none;
}

.btnBuscar {
    background-image: linear-gradient(to right,
            #25aae1,
            #4481eb,
            #04befe,
            #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.cajaBoton {
    margin: auto;
    text-align: center;
    padding-top: 25px;
}

.contenedorAmiibo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-block: 50px;
}

.amiibo {
    width: 300px;
    height: 450px;
    border: 1px solid #8f8f8fb0;
    border-radius: 10px;
    opacity: 0;
    background-color: #859bbb5b;
    backdrop-filter: blur(10);
    -webkit-animation: scale-up-center 1.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 1.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    transition: 0.7s ease !important;
}

.amiibo:hover {
    transform: scale(1.08) !important;
    transition: ease 0.8s !important;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.cajaAmiiboImg {
    height: 60%;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-block: 15px;
    transform: scaleX(-1);
}


.imgAmiibo {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: contain;
    -webkit-animation: flip-vertical-right 1.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: flip-vertical-right 1.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes flip-vertical-right {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    100% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

@keyframes flip-vertical-right {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    100% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

.amiiboInfo {
    border: 1px solid #8f8f8fb0;
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0.653);
    height: 30%;
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.amiiboNombre {
    font-family: 'Philosopher', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 1.8rem;
    margin-top: 5px;
}

.amiiboSerie {
    font-family: 'Assistant', sans-serif;
    font-size: 1..5rem;
}

.btnMasInformacion {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    height: 40px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    cursor: url(https://cdn.custom-cursor.com/db/pointer/32/super_smash_bros_master_hand_pointer.png), pointer !important;
}

@media screen and (max-width: 480px) {
    .amiibo {
        width: 230px;
        height: 370px;
    }

    .amiiboNombre {
        font-size: 1.3rem;
    }

    .btnMasInformacion {
        width: 140px;
        height: 30px;
        font-size: 13px;
    }

}

.btnMasInformacion:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btnMasInformacion:focus {
    outline: none;
}

.btnMasInformacion {
    background-image: linear-gradient(to right,
            #0ba360,
            #3cba92,
            #30dd8a,
            #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

.contenedorBotonCargar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.alerta {
    width: 55%;
    padding: 10px;
    color: #380c10;
    background-color: #f99c9c;
    border: 3px solid #b15d654d;
    font-weight: bold;
    text-align: center;
    animation-name: opacity;
    animation-duration: 2s;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.textoAlerta {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.iconoAlerta {
    margin-right: 10px;
}

.iconoAlerta img {
    width: 30px;
    height: 30px;
}

.cajaBtnAtras {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ventanaInfo {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 900px;
    height: 80%;
    max-height: 900px;
    background-color: rgba(166, 190, 220, 0.318);
    border: 1px solid rgba(96, 96, 105, 0.642);
    border-radius: 10px;
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Contenedor para texto e imagen dentro de la ventana */
.textoEImg {
    padding: 20px;
    display: flex;
    width: 95%;
    height: 95%;
    border-radius: 10px;
}

/* Contenedor para la imagen */
.cajaImg {
    width: 40%;
}

.cajaImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

/* Contenedor para la información */
.cajaInfo {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: auto;
}

.cajaInfo h5 {
    width: 60%;
    margin: auto;
    height: 100%;

    font-size: 18px;
}

.cajaInfo h3 {
    width: 60%;
    margin: auto;
    height: 100%;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
}

.cajaInfo h1 {
    width: 60%;
    margin: auto;
    height: 100%;
    text-align: center;
    font-size: 50px;
    border-radius: 10px;
}

/* Estilos para las diferentes secciones de información */
.cajaFecha,
.cajaUso,
.cajaJuego,
.cajaInfo h1,
.cajaTipo,
.cajaInfo h3 {
    width: 100%;
    padding: 10px;
}

.cajaFecha {
    width: 100%;
    border-radius: 10px;

}

.cajaUso,
.cajaJuego {
    width: 100%;
    margin: auto;
    border-radius: 10px;
}

.cajaTipo {
    width: 100%;
    margin: auto;
    border-radius: 10px;
}

/* Botón de cierre */
.cajaBtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 30%;
    padding-right: 35px;
}

.btnCerrar {
    width: 35px;
    height: 35px;
    background-image: url("../img/MakiCross.png");
    background-size: contain;
    border: none;
    cursor: url(https://cdn.custom-cursor.com/db/pointer/32/super_smash_bros_master_hand_pointer.png), pointer !important;
}


@media only screen and (max-width: 800px),
(max-height: 500px) {
    .ventanaInfo {
        width: 90%;
        height: 50%;
        max-width: none;
        max-height: none;
    }
}

@media only screen and (max-width: 600px),
(max-height: 500px) {
    .ventanaInfo {
        width: 90%;
        height: 60%;
        max-width: none;
        max-height: none;
    }

    .nombreAmiibo h1 {
        font-size: 1.8rem;
    }

    .cajaSerie h3,
    .cajaFecha h5,
    .cajaUso h5,
    .cajaJuego h5,
    .cajaTipo h5 {
        font-size: 0.9rem;
    }

}

@media only screen and (max-width: 500px),
(max-height: 500px) {
    .ventanaInfo {
        width: 90%;
        height: 30%;
        max-width: none;
        max-height: none;
    }
}

@media only screen and (width: 820px),
(height: 1180px) {
    .ventanaInfo {
        width: 90%;
        height: 50%;
        max-width: none;
        max-height: none;
    }
}

@media only screen and (width: 1024px),
(height: 1396px) {
    .ventanaInfo {
        width: 90%;
        height: 40%;
        max-width: none;
        max-height: none;
    }
}


@media only screen and (max-width: 400px),
(max-height: 400px) {
    .ventanaInfo {
        width: 90%;
        height: 40%;
        max-width: none;
        max-height: none;
    }
}

.cajaAudio {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}