* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    height: fit-content;
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
    /*background-color: #f1c45a;*/
    background-image: url(../img/fondo_amiibo.jpg);
}

.logoContainer {
    backdrop-filter: blur(10);
}

.cajaLogo{          
    margin: 20px;                                        
    width: fit-content;
    height: fit-content;
}

.imagenLogo {
    width: 45%;
    transition: ease 0.8s;
    cursor: pointer;
}

/* Estilos para iPad */
@media screen and (max-width: 1024px) {
    .imagenLogo {
        width: 80%;
    }
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 480px) {
    .imagenLogo {
        width: 100%;
    }
}

.imagenLogo:hover {
    transform: scale(1.2);
}

.contenedorBuscador {
    padding: 20px;
}

.buscador {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px; 
}

.cajaBoton {
    margin: auto;
    text-align: center;
    padding-top: 25px;
}

@media screen and (min-width: 768px) {
    .contenedorBuscador {
        flex-direction: row;
        justify-content: center;
    }

    .buscador {
        justify-content: center;
        text-align: center;
    }

    .cajaBoton {
        margin-top: 0; /* Reiniciar el margen superior en pantallas más grandes */
        margin-left: 10px; /* Agregar margen izquierdo para separar la caja del botón de la barra de búsqueda */
    }
}

@media screen and (max-width: 767px) {
    .contenedorBuscador {
        flex-direction: column; /* Cambiar a columnar en pantallas más pequeñas */
    }

    .buscador,
    .cajaBoton {
        margin: 0 10px;
        justify-content: center;
        text-align: center;
        gap: 20px; 
    }
}

.buscadorInput {
    width: 250px;
    background: #b8e8e6;
    border-radius: 30px;
    color: #1573aa;
    font-size: 1.2rem;
    padding: 20px 10px 20px 20px;
    font-weight: 100;
}

.buscadorInput::placeholder {
    color: #1573aa;
    font-size: 1.3rem;
    
}

@media screen and (max-width: 480px){
    .buscadorInput::placeholder {
        font-size: 1rem;
    }
    
}

.btnBuscar {
    width: 120px;
    height: 45px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

@media screen and (max-width: 480px) {
    .buscadorInput {
        padding: 10px 10px 10px 10px;
        font-size: 0.8rem;
    }

    .btnBuscar {
        width: 70px;
        height: 35px;
        font-size: 12px;
    }

}

.btnBuscar:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btnBuscar:focus {
    outline: none;
}

.btnBuscar {
    background-image: linear-gradient(to right,
            #25aae1,
            #4481eb,
            #04befe,
            #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.contenedorAmiibo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-block: 50px;
}

.amiibo {
    width: 300px;
    height: 450px;
    border: 1px solid #8f8f8fb0;
    border-radius: 10px;
    opacity: 0;
    background-color: #859bbb5b;
    backdrop-filter: blur(10);
    -webkit-animation: scale-up-center 1.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 1.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    transition: 0.7s ease !important;
}

.amiibo:hover {
    transform: scale(1.08) !important;
    transition: ease 0.8s !important;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.cajaAmiiboImg {
    height: 60%;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-block: 15px;
    transform: scaleX(-1);
}


.imgAmiibo {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: contain;
    -webkit-animation: flip-vertical-right 1.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: flip-vertical-right 1.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes flip-vertical-right {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    100% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

@keyframes flip-vertical-right {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    100% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

.amiiboInfo {
    border: 1px solid #8f8f8fb0;
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0.653);
    height: 30%;
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.amiiboNombre {
    font-family: 'Philosopher', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 1.8rem;
    margin-top: 5px;
}

.amiiboSerie {
    font-family: 'Assistant', sans-serif;
    font-size: 1..5rem;
}

.btnMasInformacion {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 40px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

@media screen and (max-width: 480px) {
    .amiibo{
        width: 230px;
        height: 370px;
    }

    .amiiboNombre{
        font-size: 1.3rem;
    }

    .btnMasInformacion{
        width: 140px;
        height: 30px;
        font-size: 13px;
    }
    
}

.btnMasInformacion:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btnMasInformacion:focus {
    outline: none;
}

.btnMasInformacion {
    background-image: linear-gradient(to right,
            #0ba360,
            #3cba92,
            #30dd8a,
            #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

.contenedorBotonCargar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.alerta {
    width: 55%;
    padding: 10px;
    color: #380c10;
    background-color: #f99c9c;
    border: 3px solid #b15d654d;
    font-weight: bold;
    text-align: center;
    animation-name: opacity;
    animation-duration: 2s;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.textoAlerta {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.iconoAlerta {
    margin-right: 10px;
}

.iconoAlerta img {
    width: 30px;
    height: 30px;
}

.cajaBtnAtras {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Estilos para el contenedor principal de la ventana de información */
.ventanaInfo {
    margin: auto;    
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

/* Contenedor para texto e imagen dentro de la ventana */
.textoEImg {
    display: flex;
    width: 95%;
    height: 95%;
    background-color: black;
}

/* Contenedor para la imagen */
.cajaImg {
    margin-right: 50px;
    background-color: red;
    width: 30%;
    height: 100%;
}

.cajaImg img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ajustar la imagen al tamaño del contenedor */
}

/* Contenedor para la información */
.cajaInfo {
    margin-left: 50px;
    background-color: brown;
    width: 60%;
    height: 100%;
    text-align: center;
}

/* Estilos para el nombre del amiibo */
.nombreAmiibo {
    align-items: center;
}

/* Estilos para las diferentes secciones de información */
.cajaSerie,
.cajaFecha,
.cajaUso,
.cajaJuego,
.cajaTipo {
    width: fit-content;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Botón de cierre */
.cajaBtn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: yellow;
    width: 30px;
    height: 30px;
}

.btnCerrar {
    width: 30px;
    height: 30px;
    /* Imagen de fondo para el botón de cierre */
    background-image: url("https://cdn-icons-png.flaticon.com/512/1/1766.png");
    background-size: cover;
}

/* Estilos para pantallas más grandes (tabletas y escritorios) */
@media screen and (min-width: 768px) {
    .contenedorBuscador {
        flex-direction: row; /* Cambiado a fila para pantallas más grandes */
        justify-content: center; /* Centra los buscadores horizontalmente */
    }

    .buscador {
        margin: 20px;
    }
}

/* Estilos para iPad */
@media screen and (max-width: 1024px) {
    .imagenLogo {
        width: 50%;
    }
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 480px) {
    .imagenLogo {
        width: 50%;
    }
}